.bamper{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.bamper::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #393E46 0%, #393e4600 50%);
}
#bata,#guit,#hero{
    bottom: -80px;
}
body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
.bamper>img{
    position: absolute;
    width: 100vw;
}
#bg2{
    top: -10px;
}
.div-1{
    background: linear-gradient(0deg, #393E4600 20%, #393e46 100%);
    height: 100vh;
}